.discovery-composer {
  position: relative;
  #reply-control {
    top: 0px;
    left: 0px;
    bottom: initial;
    position: relative;
    overflow: hidden;
    &.open {
      height: 80px;
    }
    .contents {
      padding: 0;
      height: 100%;
      min-width: initial;
      .form-element, .title-input {
        width: 100%;
        display: block;
      }
      input#reply-title {
        margin: 7px 0;
      }
    }
    .control {
      height: 100%;
    }
    .reply-area {
      height: 100%;
      max-width: 100%;
      padding: 0 7px;
      .reply-to {
        margin: 0;
        padding-top: 10px;
      }
    }
    .wmd-controls {
      left: 7px;
      right: 7px;
      bottom: 50px !important;
      width: auto;
    }
    &.edit-title .wmd-controls {
      padding-top: 2px;
      top: 77px;
    }
    .submit-panel {
      display: none;
      width: initial;
      bottom: 12px;
    }
    .tag-chooser {
      position: absolute;
      left: 140px;
      margin: 0;
      border: none;
      width: 200px !important;
      .select2-choices {
        margin: 0;
        border: 0;
        outline: 1px solid #aaa;
      }
    }
    .cancel {
      display: none;
    }
    .grippie {
      display: none;
    }
  }
  .toggler {
    display: none;
  }
}
