.discovery-composer {
  position: relative;
  #reply-control {
    top: 0px;
    left: 0px;
    bottom: initial;
    position: relative;
    background-color: initial;

    .saving-text {
      line-height: 40px;
      margin-left: 10px;
    }

    .contents {
      padding: 0;
      height: 100%;
      min-width: initial;
      .composer-fields > span:first-of-type {
        float: left;
        margin: 12px 6px 11px 3px;
      }
      .reply-to {
        display: none;
      }
      .form-element {
        overflow: hidden;
        display: block;
      }
      .title-fields {
        padding: 5px;
      }
      .title-input {
        width: 100%;
        display: block;
      }
      input#reply-title {
        margin: 7px 0;
        padding-right: 8px;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
      }
      .title-tip {
        position: absolute;
        right: 12px;
        top: 48px;
        color: #7b7b7b;
      }
      .similar-titles {
        margin: 0;
        list-style: none;
        display: inline-block;
        width: 100%;
        li {
          margin: 10px 0;
        }
      }
    }

    .control {
      height: 100%;
    }

    .reply-area {
      height: 100%;
      max-width: 100%;
      padding: 0 7px;
      background-color: #f1f1f1;
      .reply-to {
        margin: 0;
        padding-top: 10px;
      }
    }

    .wmd-controls {
      left: 7px;
      right: 7px;
      bottom: 50px !important;
      width: auto;
      display: none;
    }

    &.edit-title .wmd-controls {
      padding-top: 2px;
      top: 77px;
    }

    .submit-panel {
      display: none;
      width: initial;
      bottom: 12px;
    }

    .tag-chooser {
      position: absolute;
      left: 140px;
      margin: 0;
      border: none;
      width: 200px !important;
      .select2-choices {
        margin: 0;
        border: 0;
        outline: 1px solid #aaa;
      }
    }

    .cancel {
      display: none;
    }

    .grippie {
      display: none;
    }

  }
  .toggler {
    display: none;
  }
}

.discovery-actions {
  height: 30px;
  .next {
    float: right;
  }
}

.topic-type-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  &.types {
    display: block;
    .topic-type-btn {
      display: inline-block;
      width: 20%;
      margin-top: 10px;
    }
  }
  .topic-type-btn {
    flex: 0 1 auto;
    width: 19%;
    .fa {
      margin-right: 3px;
    }
    button {
      width: 100%;
      background-color: white;
      color: $tertiary;
    }
    .active {
      color: dark-light-choose(#fff, scale-color($primary, $lightness: 60%));
      background: $tertiary;
    }
  }
  .topic-type-text {
    &.body {
      display: inline-block;
      margin-top: 10px;
    }
    &.description {
      display: inline-block;
      vertical-align: middle;
      width: 70%;
      margin-left: 5px;
      div {
        width: 100%;
      }
    }
  }
}

#topic-title .topic-icon {
  position: absolute;
  right: 6px;
  top: 5px;
}
