.discovery-composer {
  position: relative;
  #reply-control {
    top: 0px;
    left: 0px;
    bottom: initial;
    position: relative;
    overflow: hidden;
    &.open {
      height: 115px;
    }
    .contents {
      padding: 0;
      height: 100%;
      min-width: initial;
    }
    .control {
      height: 100%;
    }
    .reply-area {
      height: 100%;
      max-width: 100%;
      padding: 0 10px;
      .reply-to {
        margin: 0;
        padding-top: 10px;
      }
    }
    .wmd-controls {
      left: 10px;
      right: 10px;
      bottom: 50px !important;
      width: auto;
    }
    &.edit-title .wmd-controls {
      padding-top: 5px;
      top: 112px;
    }
    .submit-panel {
      display: none;
      width: initial;
      bottom: 12px;
    }
    .tag-chooser {
      position: absolute;
      left: 140px;
      margin: 0;
      border: none;
      width: 250px !important;
      .select2-choices {
        margin: 0;
        border: 0;
        outline: 1px solid #aaa;
      }
    }
    .cancel {
      display: none;
    }
  }
  .grippie {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .toggler {
    display: none;
  }
}
